<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Edita tu cuenta</h2>
      <!-- <h2>Editar <%= resource_name.to_s.humanize %></h2> -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :college %><br />
        <%= f.text_field :college, class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :city %><br />
            <%= f.text_field :city, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :country %><br />
            <%= f.text_field :country, autofocus: true, class: "form-control" %>
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <!-- <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %> -->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
        <!-- <i class="text-left">Déjala en blanco si no quieres cambiarla</i> -->
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(necesitas la contraseña actual para realizar cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="actions text-center">
            <%= f.submit "Actualizar", class: "form-control btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
      <br>
      <!-- <h3>Cancelar mi cuenta</h3> -->
      <h4>¿Deseas cancelar tu cuenta?</h4>
      <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete, class:"btn btn-danger" %>

      <%= link_to "Atras", :back %>
    </div>
  </div>
</div>
