<div class="show-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="post-info col-sm-4">
          <h2><%= @post.subject %></h2>
          <h4><%= @post.teacher %></h4>
          <h5><%= @post.score %></h5>
          <h5><%= @post.user.country %></h5>
          <h5><%= @post.user.city %></h5>
          <h5><%= @post.user.college %></h5>
          <p><%= @post.description %></p>
          <p>publicado por <%= @post.user.name %></p>
        </div>
        <div class="post-images col-sm-8">
          <% if @post.files? %>
          <% @post.files.each do |file| %>
          <div class="galery">
            <%= link_to(image_tag(file.thumb.url, alt: 'Image'), file.url, target: '_blank') %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to 'Editar', edit_post_path(@post) %> |
    <%= link_to 'Atrás', posts_path %>
  </div>
</div>
