<div class="show-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="post-info col-sm-4">
          <h2><%= @post.subject %></h2>
          <h4><%= @post.teacher %></h4>
          <h5><%= @post.score %></h5>
          <h5><%= @post.user.city %>-<%= @post.user.country %></h5>
          <h5><%= @post.user.college %></h5>
          <p> <b>Descripción: </b><%= @post.description %></p>
          <p>publicado por <%= @post.user.name %> hace <%= time_ago_in_words(@post.created_at) %></p>
          <%if user_signed_in? && current_user == @post.user %>
          <%= link_to 'Editar', edit_post_path(@post),class:"btn btn-primary" %>
          <% end %>
          <%= link_to 'Atrás', posts_path,class:"btn btn-primary" %>
        </div>
        <div class="post-files col-sm-8">
          <% if @post.files? %>
            <% @post.files.each do |file| %>
              <% if file.content_type.match('image') %>
                <div class="galery">
                  <%= link_to(image_tag(file.url, alt: 'Image'), file.url, target: '_blank') %>
                </div>
              <%else%>
                <div class="doc">
                  <%= link_to('descargar documento', file.url, target: '_blank', class:"btn btn-success") %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 col-sm-offset-4">
          <div class="comments">
            <%@post.comments.each do |comment| %>
            <div class="panel panel-default">

              <div class="panel-body"><%=(comment.body)%>-<small><i>Publicado por <%=comment.user.email%> hace <%=time_ago_in_words(comment.created_at)%></i></small> </div>
            </div>
            <% end %>

            <% if signed_in? %>
            <h5>Nuevo comentario</h5>
              <%= form_for [@post, @post.comments.build] do |f| %>
              <div class="form-group">
                <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
              </div>

              <div class="actions text-right">
                <%= f.submit "Comentar", class: "btn btn-primary" %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
